@mixin styleText($fs, $fw, $color, $spacing) {
    font-size: $fs ;
    font-weight: $fw ;
    color: $color ;
    letter-spacing: $spacing;
}

@mixin styleButtonIcon($color,$bg-color) {
    color: $color;
    background-color: $bg-color;
}