// HEADER
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color:   $color-white-1;
    box-shadow: 0 2px 4px $color-white-2;
}
.luxe__header{
    padding:  0;
    .navbar{
        padding: $pd-6 0;
        .navbar-brand{
            @include styleText($fs-10,$fw-3,$color-dark-1,$ls-3)
        }
        .navbar-nav{
            .nav-item{
                margin: 0 $mg-5;
                &::after{
                    content: "";
                    transform: scale(0);
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $color-dark-1;
                    transition: all 0.5s;
                }
                &:hover{
                    &::after{
                        content: "";
                        transform: scale(1);
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: $color-dark-1;
                    }
                }
            }
            .nav-item a{
                @include styleText($fs-11,$fw-2,$color-black-0,$ls-2)
            } 
        }
        .form__header{
            .btn__cart__header{
                @include styleButtonIcon($color-dark-1,$color-white-1);
                &:hover{
                    color: $color-white-1;
                    background-color: $color-dark-1;
                }
            }
            .btn__fav__header{
                @include styleButtonIcon($color-dark-1,$color-white-1);
                &:hover{
                    color: $color-white-1;
                    background-color: $color-dark-1;
                }
            }
        }
    }
    
}